 :host {
      display: block;
    }

    @media print {
      @page {
        size: A4;
        margin: 0;
      }
      .no-print {
        display: none;
      }
    }
    
    /* Custom font for the Rx symbol to look more medical/serif */
    .font-serif {
      font-family: 'Times New Roman', Times, serif;
    }